<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Img to txt</title>
</head>
<body>
  <h1>Image to txt</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
      <!-- nothing to do with the folder uploads! -->
    <input type="file" name="avatar">
    <button type="submit">Convert</button>
  </form> 
</body>
</html>